
h1 {
  text-align: center;
}

body {
  color: black;
  background-color: tan;
  font-size: large;
  text-align: left;
  padding: 5%;
}

div.codeblock {
  font-family: monospace;
  white-space: pre;
  color: white;
  background-color: black;
}

span.code {
  font-family: monospace;
  color: white;
  background-color: black;
}

code {
  font-family: monospace;
  color: yellow;
  background-color: black;
}

table.isatable td {
  font-family: monospace;
  white-space: pre;
}

table.transtable td {
  font-family: monospace;
  white-space: pre;
}
