
h1 {
  text-align: center;
}

body {
  color: black;
  background-color: tan;
  font-size: large;
  text-align: left;
  padding: 5%;
}

div.codeblock {
  font-family: monospace;
  white-space: pre;
}

.code {
  font-family: monospace;
}
